:root {
    --hong:#FF5EA1;
    --den:#1E1E1E;
    --nhat:#777;
    --xam:#CCCCCC;
    --tim:#8261EE;
    --back-xam:#F2F2FE;
  --font: "Raleway", sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

  a:hover {
    
    text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.button{
  color: white;
  padding: 10px 25px;
  border-radius: 45px;
  background: #FF5EA1;
  display: inline-block;
}
.button:hover{
  background: var(--tim);
}
.box-head{
  line-height: 1.8;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.box-head .title{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.box-head .desc{
  font-size: 15px;
  color: var(--nhat);
}